<app-header></app-header>

<div class="container-fluid">
  <div class="row">
    <app-nav></app-nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
      <br/><br/>
      <h2>ข้อมูลโครงสร้างหลักสูตร</h2>
      <form #structureForm="ngForm" novalidate>
        <div class="form-row align-item-center">
          <div class="input-group mb-3">
            <label class="sr-only" for="inlineFormInputGroupUsername">Username</label>
            <div class="input-group">
              <input #text="ngModel" ngModel name="txtSearch" type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="ค้นหา" aria-label="Recipient's username" aria-describedby="basic-addon2">
              <div class="input-group-append" (click)="getStructure(structureForm.value)">
                <div class="input-group-text">
                  <i class="fas fa-search-plus"></i>
                </div>
              </div>
              <button button mat-button (click)="openDialog('เพิ่ม', {})" mat-flat-button color="primary"><i class="fas fa-plus"></i></button>
            </div>
          </div>
        </div>
      </form>

      <div class="table-responsive mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>

          <!-- ID Column -->
          <ng-container matColumnDef="Structure_ID">
            <th mat-header-cell *matHeaderCellDef>รหัสโครงสร้างหลักสูตร</th>
            <td mat-cell *matCellDef="let element">{{element.Structure_ID}}</td>
          </ng-container>

          <!-- ID Column -->
          <ng-container matColumnDef="Subject_ID">
            <th mat-header-cell *matHeaderCellDef width="140"><div align = "center">รหัสวิชา</div></th>
            <td mat-cell *matCellDef="let element"><div align = "center">{{element.Subject_ID}}</div></td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="Course_ID">
            <th mat-header-cell *matHeaderCellDef width="120">รหัสหลักสูตร</th>
            <td mat-cell *matCellDef="let element">{{element.Course_ID}}</td>
          </ng-container>

          <!-- Province Column -->
          <ng-container matColumnDef="Main_ID">
            <th mat-header-cell *matHeaderCellDef width="120">รหัสหมวดวิชา</th>
            <td mat-cell *matCellDef="let element">{{element.Main_ID}}</td>
          </ng-container>

          <!-- Province Column -->
          <ng-container matColumnDef="Main_Name">
            <th mat-header-cell *matHeaderCellDef width="120">ชื่อหมวดวิชา</th>
            <td mat-cell *matCellDef="let element">{{element.Main_Name}}</td>
          </ng-container>

          <!-- Email Column -->
          <ng-container matColumnDef="Group_ID">
            <th mat-header-cell *matHeaderCellDef width="120">รหัสกลุ่มวิชา</th>
            <td mat-cell *matCellDef="let element">{{element.Group_ID}}</td>
          </ng-container>

          <!-- Email Column -->
          <ng-container matColumnDef="Group_Name">
            <th mat-header-cell *matHeaderCellDef width="120">ชื่อกลุ่มวิชา</th>
            <td mat-cell *matCellDef="let element">{{element.Group_Name}}</td>
          </ng-container>

          <!-- Password Column -->
          <ng-container matColumnDef="Subject_Name">
            <th mat-header-cell *matHeaderCellDef width="200">ชื่อวิชา</th>
            <td mat-cell *matCellDef="let element">{{element.Subject_Name}}</td>
          </ng-container>

          <!-- Password Column -->
          <ng-container matColumnDef="Subject_Credit">
            <th mat-header-cell *matHeaderCellDef><div align = "center">หน่วยกิต</div></th>
            <td mat-cell *matCellDef="let element"><div align = "center">{{element.Subject_Credit}}</div></td>
          </ng-container>

          <!-- Password Column -->
          <ng-container matColumnDef="Subject_Detail">
            <th mat-header-cell *matHeaderCellDef width="320">รายละเอียดรายวิชา</th>
            <td mat-cell *matCellDef="let element">{{element.Subject_Detail}}</td>
          </ng-container>

          <!-- Action Column -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let element" class="action-link">
              <a class="bg btn-warning btn-sm" (click)="openDialog('แก้ไข', element)"><i class="fas fa-edit"></i></a> |
              <a class="bg btn-danger btn-sm" (click)="openDialog2('ลบ', element)"><i class="fas fa-trash"></i></a>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator
          [pageIndex]="0"
          [pageSize]="10"
          [pageSizeOptions]="[5, 10, 25, 50, 100]" showFirstLastButtons>
        </mat-paginator>
      </div>

    </main>
  </div>
</div>
