<!-- dialog-box.component.html -->
<h1 mat-dialog-title>Row Action :: <strong>{{action}}</strong></h1>
<div mat-dialog-content>
  <mat-form-field *ngIf="action != 'ลบ'; else elseTemplate">
    <input placeholder="รหัสนักศึกษา" matInput [(ngModel)]="local_data.User_ID">
  </mat-form-field>
  <ng-template #elseTemplate>
    คุณต้องการลบ <b>{{local_data.Student_ID}}</b> หรือไม่?
  </ng-template>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="doAction()">{{action}}</button>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">ยกเลิก</button>
</div>
