<!-- dialog-box.component.html -->
<h1 mat-dialog-title>Row Action :: <strong>{{action}}</strong></h1>
<div mat-dialog-content>
  <div class="form-group" *ngIf="action != 'ลบ'; else elseTemplate">
    <label for="Institution_Name">ชื่อสถาบันเดิม</label>
    <input [(ngModel)]="local_data.Institution_Name" type="Institution_Name" class="form-control" id="Institution_Name">
  </div>
  <ng-template #elseTemplate>
    Sure to delete <b>{{local_data.Institution_ID}}</b>?
  </ng-template>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="doAction()">บันทึก</button>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">ยกเลิก</button>
</div>
